.entire {
  background-color: #eeeeee;
  border-style: solid;
  border-radius:10px;
  border: #333333;
  width:400px;
  margin:10px;
}

input {
  font-size: 14px;
  padding:5px;
}

h1 {
  letter-spacing: 2px;
  background-color: #333333;
  color: #ffffff;
  padding:20px;
  margin: 0;
  font-weight:400;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content-container{
  padding:15px;
  margin-left: 20px;
}
