@font-face {
  font-family: fa;
  src: url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
}
body {
  margin: 0;
  font-family: 'League Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
